td{
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 5px;
}

#content{
    display: flex;
    justify-content: center;
}

table{
    background-color: black;
}

th{
    color: white;
    background-color: rgb(76, 76, 76);
    padding: 10px;
}
